
form, p, span {

	margin: 0;
	padding: 0px;
}
  
input {
	font:12px arial;
}
  
#chatbox {
	margin-top: 16px;
	margin-left: 1508px;
	padding-bottom:2px;
	padding-top: 2px;
	background:#000000;
	width:378px;
	border:1px solid #306941;
}
  
#textbox {
	text-align:left;
	margin:0 auto;
	margin-bottom:2px;
	padding:10px;
	background:#fff;
	height:290px;
	width:373px;
	border:1px solid #306941;
	overflow:auto;
}

#message {
	margin: 0 auto;
	width:337px;
}

#usermsg {
	width:315px;
	border:2px solid #FFFFFF;
}

#submitmsg {
	width: 60px;
	float: right;
}

.error {
	color: #ff0000;
}
  
.msgln {
	margin:0 0 2px 0;
}