
form, p, span {
	margin: 0;
	padding: 0;
}
  
input {
	font:12px arial;
}
  
#chatbox {
	margin:0 auto;
	padding-bottom:25px;
	padding-top: 25px;
	background:#5CB075;
	width:504px;
	border:1px solid #306941;
}
  
#textbox {
	text-align:left;
	margin:0 auto;
	margin-bottom:25px;
	padding:10px;
	background:#fff;
	height:270px;
	width:430px;
	border:1px solid #306941;
	overflow:auto;
}

#message {
	margin: 0 auto;
	width:450px;
}

#usermsg {
	width:370px;
	border:1px solid #ACD8F0;
}

#submitmsg {
	width: 60px;
	float: right;
}

.error {
	color: #ff0000;
}
  
.msgln {
	margin:0 0 2px 0;
}