body{
	background-image:url("The_Dark_Raiden_.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height:1550;

}
h1{
	color:lightblue;
	text-align:center;
	line-height:2.5;
}
div{
	width:300px;
	height:300px;
	margin:0 auto;
}
b{
	color:snow;
}
form{
	color:red;
}
	
